{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">注册</h3>
    <div>
        <label for="email">邮箱</label>
        <input 
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="请输入邮箱"
        />
    </div>
    <div>
        <label for="firstName">姓氏</label>
        <input 
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="请输入姓氏"
        />
    </div>
    <div>
        <label for="password1">密码</label>
        <input 
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="请输入密码"
        />
    </div>
    <div>
        <label for="password2">确认密码</label>
        <input 
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="请确认密码"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
